{
  "parser": "@babel/eslint-parser",
  "extends": ["plugin:react/recommended", "plugin:prettier/recommended"],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
      ]
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}