.DS_Store
.idea/
/.vscode
/.vscode/*
!/.vscode/settings.json
!.vscode/extensions.json
node_modules
dist/
build/
output/
test/result
.#*
.react-playground/*
config/only_dev.js
config/only_dev*
.*.swp
*.orig
coverage
yarn-error.log
jsconfig.json
launch.json
dump.rdb
test.js
config/backends
mock.js
.root
package-lock.json
.history/*
compilation-stats.json
webpack-stats.json
jest_cache/*
.rpt2_cache
.antlr
trace.*.json
jest-unhandled-rejection.log
*.swo
*.swp
build.sh
.linkrc.json
package.tmp.json
e2e-failed-tests
test/dev.config.js
packages/bundle/node_modules
packages/core/node_modules
ee/
lerna-debug.log
complexity.txt
log/
.auto_script.json
stats.html
junittest/
docs/website/src/input
docs/website/src/markdown
.tsbuildinfo
.pnpm-store/
.pnpm-debug.log
.storybook/i18n/locales
.temp_cache
.cache-loader
# Rust artifacts
**/target
**/*.rs.bk
Cargo.lock
# WebAssembly artifacts
wasm/pkg/*